{
  "presets": [
    "next/babel",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [ "styled-components", { "ssr": true } ], 
    "transform-flow-strip-types", [ 
      "module-resolver", { 
        "root": [ "./src" ]
        } 
      ],
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        },
        "lodash/fp": {
          "transform": "lodash/fp/${member}",
          "preventFullImport": true
        },
        "recompose": {
          "transform": "recompose/${member}",
          "preventFullImport": true
        }
      }
    ], [ "inline-import", {
        "extensions": [ ".css" ]
        }
      ]
  ]
}
