{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react", "babel", "jsx-a11y", "import"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/href-no-hash": "off",
    "no-underscore-dangle":"off",
    "no-debugger":"off",
    "react/prop-types": "off",
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": [ "node_modules", "src"]
          }
        }
      }
    }
  }
}